<div class="modal" tabindex="-1" role="dialog" data-speaker="gary-taubes">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "gary-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            GARY TAUBES
          </h1>
        </div>

        <div class="description">
          Mestre em jornalismo, jornalista investigativo em ciência e saúde e co-fundador da Iniciativa de Ciência e Nutrição (NuSI.org),
          sem fins lucrativos, é autor dos sucessos
          <em>Good Calories, Bad Calories</em> (2007) e
          <em>The Case Against Sugar</em> (2016), ainda sem tradução para o português, além do icônico
          <em>Por Que Engordamos E O Que Fazer Para Evitar?</em> (2011), lançado no Brasil pela L&PM EDITORES.
          <br>
          <br>
          Taubes é ganhador do prêmio Robert Wood Johnson Foundation Investigator Award, em pesquisas de políticas de saúde, além
          de detentor de inúmeros outros prêmios pela grandeza de sua jornada profissional, incluindo três vezes o Science in Society
          Journalism da Associação Nacional de Escritores em Ciências.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="nina-teicholz">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "nina-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            NINA TEICHOLZ
          </h1>
        </div>

        <div class="description">
          Mestre em jornalismo, jornalista investigativa e autora do bestseller internacional - e New York Times - ,
          <em>Gordura Sem Medo</em>, lançado no Brasil pela WMF MARTINS FONTES e aclamado pelo The Economist como livro científico número
          #1 de 2014, além de nomeado como melhor livro do ano pelo Wall Street Journal, Forbes, Mother Jones e o Library Journal.
          <br>
          <br>
          Teicholz é responsável por um trabalho notável em busca da verdade científica e derrubou a “sabedoria” convencional sobre
          a gordura dos alimentos e desafiou o cerne da política mundial de nutrição, ganhando até mesmo uma resenha no conceituado
          American Journal of Clinical Nutrition, que afirmou: <em>“este livro deve ser lido por todos os profissionais da ciência nutricional…”</em>.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="aseem-malhotra">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "aseem-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            DR. ASEEM MALHOTRA
          </h1>
        </div>

        <div class="description">
          Um dos cardiologistas mais influentes da Grã-Bretanha, especialista mundial em prevenção, diagnóstico e tratamento de doenças
          do coração, além de autor do livro <em>Detox 21 Dias</em>, Dr. Aseem Malhotra é um dos nomes a encabeçar com sucesso a campanha contra o consumo de açúcar em excesso
          e cura da obesidade através da intervenção de saúde pública.
          <br>
          <br>
          Premiado pela NHS (National Health Service), tem motivado líderes acadêmicos, mídia e políticos a fazer a redução de açúcar
          uma prioridade de saúde no Reino Unido e se tornou um dos principais médicos do mundo que luta contra a epidemia de obesidade,
          junto com outros ativistas pela causa, como Michelle Obama e Michael Bloomberg. Defensor apaixonado dos cuidados de saúde
          gratuitos para todos, acredita que médicos são clínicos melhores quando deixam de lado os ganhos financeiros no tratamento
          de pacientes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="jose-souto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "souto-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            JOSÉ CARLOS SOUTO
          </h1>
        </div>

        <div class="description">
          Um dos ícones precursores e pesquisador incansável sobre low carb no cenário nacional, em 2011, seu especial interesse na
          interface entre nutrição e saúde levou-o a lançar o blog Ciência Low Carb, maior referência brasileira no assunto. Formado
          pela Universidade Federal do Rio Grande do Sul, com pós-doutorado em patologia experimental pela Universidade do Alabama,
          EUA, é um influenciador digital popular e especificador de renome em conferências médicas, palestras e reuniões de nutrição
          e ciência, nacionais e internacionais.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="erik-neves">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "erik-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            ERIK NEVES
          </h1>
        </div>

        <div class="description">
          Há 5 anos tratando pacientes com dieta low carb, que acredita firmemente ser a mais confiável diretriz para longevidade,
          bem-estar e um melhor estilo de vida, além do profundo comprometimento com a medicina, nutre verdadeira paixão por correr
          descalço, já tendo participado de um Ironman e uma ultramaratona. Médico da equipe brasileira de tênis de mesa durante a
          preparação para os Jogos Paralímpicos de 2016, foi convidado para coordenar um futuro curso on-line, em parceria com a Fundação
          Noakes, destinado a médicos e nutricionistas brasileiros.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="paty-ayres">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "paty-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            PATY AYRES
          </h1>
        </div>

        <div class="description">
          A necessidade em entender o que acontecia com seu corpo a fez se apaixonar pela Nutrição. O inconformismo com as diretrizes
          apresentadas levou-a de volta às salas de aula. Ávida por conhecimento e pesquisadora inveterada, encontrou no estilo de
          alimentação low carb seu caminho para felicidade e bem-estar, tendo na vertente cetogênica uma estratégia fantástica para
          promoção de saúde e emagrecimento com qualidade de vida. É, com orgulho, pupila de ninguém menos que Dr. Souto.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="teresinha-souto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "teresinha-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            TERESINHA SOUTO
          </h1>
        </div>

        <div class="description">
          Mestre em Ciências pela UNIFESP e atuando profissionalmente desde 85, é pediatra e atende crianças de zero a adultos de
          21 anos de idade. Acredita que uma alimentação balanceada pode ser conseguida de forma natural, sem grandes restrições e
          que o meio onde os indivíduos são criados desempenha papel fundamental em seu comportamento nutricional.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="jose-neto">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "jose-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            JOSÉ NETO
          </h1>
        </div>

        <div class="description">
          Nefrologista, Coordenador do Serviço de Nefrologia do Hospital Felício Rocho e Diretor Científico da Sociedade Mineira de
          Nefrologia, o também ótimo cozinheiro sentiu no corpo os efeitos da síndrome metabólica. Conduzido ao universo paleo e low
          carb pelo amigo e também médico, Dr. Fernando Lucas, enveredou-se pela MBE e descobriu que poderia, não só mudar sua vida,
          como a de seus pacientes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="rodrigo-bomeny">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "rodrigo-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            RODRIGO BOMENY
          </h1>
        </div>

        <div class="description">
          Formado e atuando ainda hoje no Hospital Universitário da Universidade de São Paulo, especializou-se em coaching e health
          coaching por renomadas instituições internacionais. No tratamento humanizado e com foco numa completa abordagem da vida e
          momento de cada paciente para obtenção de resultados duradouros, é ainda especialista em emagrecimento pela American Council
          on Exercise.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="polyana-freitas">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "polyanna-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            POLYANA FREITAS
          </h1>
        </div>

        <div class="description">
          Aclamada no cenário low carb como a Nutri das Panelas, carinhosa denominação para uma profissional de mão cheia quando o
          assunto é nutrição e receitas baseadas em comida de verdade, segue a linha paleo low carb e diz que independe da idade e
          momento fisiológico para que a mesma seja aplicada aos pacientes, já que engloba balanceadamente proteínas, gorduras, sais
          minerais, vitaminas, fibras e redução de carboidratos; tudo que o corpo humano necessita para ser e estar em ordem.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="djulye-marquato">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "djulye-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            DJULYE MARQUATO
          </h1>
        </div>

        <div class="description">
          Com foco paleo e low carb, é cofundadora do Conanp - Congresso Nacional Online de Nutrição Paleo e Low Carb, com experiência
          em estratégias de emagrecimento e alimentação. Crédula nos pilares de uma vida saudável por meio da alimentação, movimento,
          emoções e hábitos salutares no dia a dia, tem na jovialidade profissional uma perspicácia sem precedentes.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="marcelo-denaro">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "marcelo-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            MARCELO DENARO
          </h1>
        </div>

        <div class="description">
          Especializado em cirurgia do joelho, é membro Titular da SBOT (Sociedade Brasileira de Ortopedia e Traumatologia), da SBCJ
          (Sociedade Brasileira de Cirurgia do Joelho) e desde 2014 tornou-se entusiasta e estudioso de nutrição e estratégia alimentar
          low carb. Atua com o objetivo de integrar seus conhecimentos, aprimorando e perpetuando o que temos de mais precioso: a saúde.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="rafael-lund">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "rafa-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            RAFAEL LUND
          </h1>
        </div>

        <div class="description">
          Bacharel em Educação Física pela Universidade Federal do Rio de Janeiro - UFRJ e personal trainer há mais de dez anos, fez
          parte da equipe de pesquisas científicas no Laboratório de Pesquisa Neuromuscular do INTO/RJ, além de ter atuado como assistente
          de preparação física da Seleção de Vôlei Masculina. À frente do LUND Trainers, tem na ciência o embasamento para estimular
          e motivar alunos, como Juliana Paes, Deborah Secco e Flávia Alessandra, assim como grandes executivos, atletas de futebol,
          vôlei, saltos ornamentais e tantos outros.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" data-speaker="fernanda-muller">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center">
          <%= image_tag "nanda-modal.png", class: "image" %>
        </div>

        <div class="name">
          <h1>
            FERNANDA MULLER
          </h1>
        </div>

        <div class="description">
          Com especialização em nutrição ortomolecular e mestrado em ciência do esporte pela UTAD, em Portugal, a profissional acredita
          que definir uma estratégia saudável e que o paciente consiga sustentar a longo prazo, só é possível com uma avaliação inicial
          apurada de suas particularidades e idiossincrasias. Numa rotina que deixa de lado o que ela mesma chama de “falsos saudáveis”,
          fazer as pessoas mais felizes e salubres é uma de suas grandes premissas.
        </div>
      </div>
    </div>
  </div>
</div>