<div class="row speaker pt-2">
  <div class="col-4 col-sm-4">
    <%= image_tag "souto.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">JOSÉ SOUTO</div>
    <div class="function">UROLOGISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "erik.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">ERIK NEVES</div>
    <div class="function">CLÍNICO GERAL</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "paty.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">PATRICIA AYRES</div>
    <div class="function">NUTRICIONISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "rafael.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">RAFAEL LUND</div>
    <div class="function">
      MESTRE EM CIÊNCIAS
      <br> DO DESPORTO
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "jose.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">JOSÉ NETO</div>
    <div class="function">NEFROLOGISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "rodrigo.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">RODRIGO BOMENY</div>
    <div class="function">ENDOCRINOLOGISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "polyanna.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">POLYANA ROSSI</div>
    <div class="function">NUTRICIONISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "djulye.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">DJULYE MARQUATO</div>
    <div class="function">NUTRICIONISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "marcelo.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">MARCELO DENARO</div>
    <div class="function">ORTOPEDISTA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "teresinha.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">TERESA SOUTO</div>
    <div class="function">PEDIATRA</div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4">
    <%= image_tag "nanda.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8">
    <div class="name">NANDA MULLER</div>
    <div class="function">NUTRICIONISTA</div>
  </div>
</div>

<%= image_tag "bg-refund.svg", class: "bg-national-speaker d-md-block" %>