<div class="row speaker pt-2">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "souto.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">JOSÉ SOUTO</div>
      <div class="function">Urologista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "erik.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">ERIK NEVES</div>
      <div class="function">Clínico Geral</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "paty.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">PATRICIA AYRES</div>
      <div class="function">Nutricionista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "rafael.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">RAFAEL LUND</div>
      <div class="function">
        Mestre em Ciências<br> do Desporto
      </div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "jose.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">JOSÉ NETO</div>
      <div class="function">Nefrologista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "rodrigo.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">RODRIGO BOMENY</div>
      <div class="function">Endocrinologista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "polyanna.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">POLYANA FREITAS</div>
      <div class="function">Nutricionista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "djulye.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">DJULYE MARQUATO</div>
      <div class="function">Nutricionista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "marcelo.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">MARCELO DENARO</div>
      <div class="function">Ortopedista</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "teresinha.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">TERESINHA SOUTO</div>
      <div class="function">Pediatra</div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "nanda.png", class: "photo"%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name">FERNANDA MULLER</div>
      <div class="function">Nutricionista</div>
    </div>
  </div>
</div>

<%= image_tag "bg-refund.svg", class: "bg-national-speaker d-md-block" %>