<div class="row">
  <div class="col-md-6 national-speaker">
    <%= image_tag "souto.png" %>

    <div class="name">JOSÉ CARLOS SOUTO</div>
    <div class="function">UROLOGISTA</div>
  </div>

  <div class="col-md-6 national-speaker">
    <%= image_tag "erik.png" %>

    <div class="name">ERIK NEVES</div>
    <div class="function">CLÍNICO GERAL</div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-6 national-speaker">
    <%= image_tag "paty.png" %>

    <div class="name">PATY AYRES</div>
    <div class="function">NUTRICIONISTA</div>
  </div>

  <div class="col-md-6 national-speaker">
    <%= image_tag "rafael.png" %>

    <div class="name">RAFAEL LUND</div>
    <div class="function">
      MESTRE EM CIÊNCIAS
      <br>
      DO DESPORTO
    </div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-6 national-speaker">
    <%= image_tag "jose.png" %>

    <div class="name">JOSÉ NETO</div>
    <div class="function">NEFROLOGISTA</div>
  </div>

  <div class="col-md-6 national-speaker">
    <%= image_tag "rodrigo.png" %>

    <div class="name">RODRIGO BOMENY</div>
    <div class="function">ENDOCRINOLOGISTA</div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-6 national-speaker">
    <%= image_tag "polyanna.png" %>

    <div class="name">POLYANA ROSSI</div>
    <div class="function">NUTRICIONISTA</div>
  </div>

  <div class="col-md-6 national-speaker">
    <%= image_tag "djulye.png" %>

    <div class="name">DJULYE MARQUATO</div>
    <div class="function">NUTRICIONISTA</div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-6 national-speaker">
    <%= image_tag "marcelo.png" %>

    <div class="name">MARCELO DENARO</div>
    <div class="function">ORTOPEDISTA</div>
  </div>

  <div class="col-md-6 national-speaker">
    <%= image_tag "teresinha.png" %>

    <div class="name">TERESINHA STUMPF</div>
    <div class="function">PEDIATRA</div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-6 national-speaker">
    <%= image_tag "nanda.png" %>

    <div class="name">NANDA MULLER</div>
    <div class="function">NUTRICIONISTA</div>
  </div>
</div>