<div class="row speaker pt-2">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "souto.png", class: "photo", data: { speaker: 'jose-souto' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="jose-souto">JOSÉ SOUTO</div>
      <div class="function" data-speaker="jose-souto"><%= t('urologista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "erik.png", class: "photo", data: { speaker: 'erik-neves' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="erik-neves">ERIK NEVES</div>
      <div class="function" data-speaker="erik-neves"><%= t('clinico_geral') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "paty.png", class: "photo", data: { speaker: 'paty-ayres' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="paty-ayres">PATY AYRES</div>
      <div class="function" data-speaker="paty-ayres"><%= t('nutricionista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "rafael.png", class: "photo", data: { speaker: 'rafael-lund' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="rafael-lund">RAFAEL LUND</div>
      <div class="function" data-speaker="rafael-lund">
        <%= raw t('mestre_esporte') %>
      </div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "jose.png", class: "photo", data: { speaker: 'jose-neto' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="jose-neto">JOSÉ NETO</div>
      <div class="function" data-speaker="jose-neto"><%= t('nefrologista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "rodrigo.png", class: "photo", data: { speaker: 'rodrigo-bomeny' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="rodrigo-bomeny">RODRIGO BOMENY</div>
      <div class="function" data-speaker="rodrigo-bomeny"><%= t('endocrinologista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "polyanna.png", class: "photo", data: { speaker: 'polyana-freitas' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="polyana-freitas">POLYANA FREITAS</div>
      <div class="function" data-speaker="polyana-freitas"><%= t('nutricionista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "djulye.png", class: "photo", data: { speaker: 'djulye-marquato' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="djulye-marquato">DJULYE MARQUATO</div>
      <div class="function" data-speaker="djulye-marquato"><%= t('nutricionista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "marcelo.png", class: "photo", data: { speaker: 'marcelo-denaro' }%>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="marcelo-denaro">MARCELO DENARO</div>
      <div class="function" data-speaker="marcelo-denaro"><%= t('ortopedista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "teresinha.png", class: "photo", data: { speaker: 'teresinha-souto' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="teresinha-souto">TERESINHA SOUTO</div>
      <div class="function" data-speaker="teresinha-souto"><%= t('pediatra') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "nanda.png", class: "photo", data: { speaker: 'fernanda-muller' } %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="fernanda-muller">FERNANDA MULLER</div>
      <div class="function" data-speaker="fernanda-muller"><%= t('nutricionista') %></div>
    </div>
  </div>
</div>

<div class="row speaker">
  <div class="col-4 col-sm-4" data-aos="fade-right">
    <%= image_tag "amanda.png", class: "photo", data: { speaker: 'amanda-passavante' }, style: "transform: rotate(29deg);" %>
  </div>
  <div class="col-8 col-sm-8 d-flex align-items-center" data-aos="fade-left">
    <div>
      <div class="name" data-speaker="amanda-passavante">AMANDA PASSAVANTE</div>
      <div class="function" data-speaker="amanda-passavante">
        <%= raw t('especialista') %>
      </div>
    </div>
  </div>
</div>

<%= image_tag "bg-refund.svg", class: "bg-national-speaker d-md-block" %>