<div class="row m-0" data-aos="zoom-in">
  <div class="col-md-6 col-lg-6 day-1">
    <div class="title">
      <%= raw t('programacao.sabado.titulo') %>
    </div>

    <div class="row pt-4 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra1.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>

      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= t('programacao.sabado.palestra1.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra2.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra2.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra3.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra3.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra4.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name -intervalo">
        <%= raw t('programacao.sabado.palestra4.nome') %>
        <div class="help-text">
          <%= raw t('programacao.sabado.palestra4.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra5.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra5.nome') %>
        <div class="help-text">
          <%= raw t('programacao.sabado.palestra5.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra6.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra6.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra7.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name -intervalo">
        <%= raw t('programacao.sabado.palestra7.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra8.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra8.nome') %>
        <div class="help-text">
          <%= raw t('programacao.sabado.palestra8.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra9.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra9.nome') %>
        <div class="help-text">
          <%= raw t('programacao.sabado.palestra9.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.sabado.palestra10.hora') %></strong>
        <div class="bar d-block d-md-none"></div>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.sabado.palestra10.nome') %>
        <div class="help-text">
          <%= raw t('programacao.sabado.palestra10.detalhe') %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 day-2">
    <div class="title">
      <%= raw t('programacao.domingo.titulo') %>
    </div>

    <div class="row pt-4 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra1.hora') %></strong>
      </div>

      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra1.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra2.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra2.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra3.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra3.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra4.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name -intervalo">
        <%= raw t('programacao.domingo.palestra4.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra5.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra5.nome') %>

        <div class="help-text">
          <%= raw t('programacao.domingo.palestra5.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra6.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name -intervalo">
        <%= raw t('programacao.domingo.palestra6.nome') %>

        <div class="help-text">
          <%= raw t('programacao.domingo.palestra6.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra7.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra7.nome') %>
        
        <div class="help-text">
          <%= raw t('programacao.domingo.palestra7.detalhe') %>
        </div>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra8.hora') %></strong>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra8.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra9.hora') %></strong>
      </div>
      
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name -intervalo">
        <%= raw t('programacao.domingo.palestra9.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra10.hora') %></strong>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra10.nome') %>
      </div>
    </div>

    <div class="row pt-3 m-0">
      <div class="col-12 col-sm-12 col-md-5 col-lg-3 hour">
        <strong><%= t('programacao.domingo.palestra11.hora') %></strong>
      </div>
    
      <div class="col-12 col-sm-12 col-md-7 col-lg-9 name">
        <%= raw t('programacao.domingo.palestra11.nome') %>
        <div class="help-text">
          <%= raw t('programacao.domingo.palestra11.detalhe') %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container pt-4 pb-3">
  <a class="button-outline show-about-schedule" style="text-transform: uppercase">
    <%= t('programacao.botao') %>
  </a>
</div>

<div class="container about-schedule pt-4 d-none">
  <div class="row">
    <div class="col-md-6">
      <%= raw t('programacao.alerta.1a_parte') %>
    </div>
    
    <div class="col-md-6">
      <%= raw t('programacao.alerta.2a_parte') %>
    </div>
  </div>
</div>