<section class="mandatory">
  <div class="title">
    <h1 data-aos="zoom-in">
      <%= t('obrigatorio.titulo') %>
    </h1>
  </div>

  <div class="description" data-aos="zoom-in">
    <%= raw t('obrigatorio.descricao') %>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 col-sm-12">
          <div class="box" data-aos="zoom-in">
            <div class="icon-wrapper">
              <%= image_tag 'profissional.svg', class: 'icon' %>
            </div>

            <div class="title">
              <%= t('obrigatorio.profissional.titulo') %>
            </div>

            <div class="bar"></div>

            <div class="description">
              <%= t('obrigatorio.profissional.descricao') %>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-12 col-sm-12">
          <div class="box" data-aos="zoom-in">
            <div class="icon-wrapper">
              <%= image_tag 'entusiasta.svg', class: 'icon' %>
            </div>

            <div class="title">
              <%= t('obrigatorio.entusiasta.titulo') %>
            </div>

            <div class="bar"></div>

            <div class="description">
              <%= t('obrigatorio.entusiasta.descricao') %>
            </div>
          </div>
        </div>
        
        <div class="col-md-4 col-12 col-sm-12">
          <div class="box" data-aos="zoom-in">
            <div class="icon-wrapper">
              <%= image_tag 'empreendedor.svg', class: 'icon' %>
            </div>

            <div class="title">
              <%= t('obrigatorio.empreendedor.titulo') %>
            </div>

            <div class="bar"></div>

            <div class="description">
              <%= raw t('obrigatorio.empreendedor.descricao') %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "bg-mandatory.svg", class: "bg-mandatory d-none d-md-block" %>
</section>