<section class="event">
  <div class="title">
    <h1 data-aos="zoom-in">
      <%= t('evento.titulo.1a_parte') %>
      <span>&bullet;</span>
      <%= t('evento.titulo.2a_parte') %>
    </h1>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-md-8 col-lg-7">
        <div data-aos="fade-up-right">
          <h3 class="mb-4"><%= t('evento.conteudo.1a_parte.titulo') %></h3>
          <%= raw t('evento.conteudo.1a_parte.texto') %>
        </div>

        <div class="event-detail-1" data-aos="fade-up-left">
          <%= image_tag "event-detail-1.svg" %>
        </div>
        
        <div class="d-none d-md-block">
          <br>
        </div>
        
        <div data-aos="fade-up-right">
          <h3 class="mb-4 mt-4"><%= t('evento.conteudo.2a_parte.titulo') %></h3>
          <%= raw t('evento.conteudo.2a_parte.texto') %>
        </div>

        <div class="event-detail-2" data-aos="fade-up-right">
          <%= image_tag "event-detail-2.svg" %>
        </div>
        
        <div class="d-none d-md-block">
          <br>
        </div>

        <div data-aos="fade-up-right">
          <h3 class="mb-4 mt-4"><%= t('evento.conteudo.3a_parte.titulo') %></h3>
          <%= raw t('evento.conteudo.3a_parte.texto') %>
        </div>

        <div class="event-detail-3" data-aos="fade-up-left">
          <%= image_tag "event-detail-3.svg" %>
        </div>
        
        <div class="d-none d-md-block">
          <br>
        </div>

        <div data-aos="fade-up-right">
          <%= raw t('evento.conteudo.4a_parte.texto') %>
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "bg-event.svg", class: "bg-event" %>
  <%= image_tag "bg-event-tablet.svg", class: "bg-event-tablet" %>
</section>