<section class="tickets" id="tickets">
  <div class="title">
    <div class="container">
      <h1 data-aos="fade-right">INGRESSOS</h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row mx-0" data-aos="zoom-in-right" data-aos-offset="10"  data-aos-easing="ease-in-sine">
        <div class="col-md-2 col-lg-2 p-0 title-box d-flex align-items-center justify-content-center text-center">
          <span class="d-none d-md-block">
            PRÉ<br>VENDA
          </span>
          <span class="d-md-none">
            PRÉ-VENDA
          </span>
        </div>
  
        <div class="col-md-3 col-lg-2 p-0 box -pre-venda -esgotado">
          <div class="info py-2">
            <div class="category">STARTERS</div>
            <div class="bar mt-1"></div>
            <div class="description pt-4 mt-2">
              Welcome kit<br>Platéia <strong>GOLD 1</strong>
            </div>
          </div>
  
          <div class="buy">
            <div class="price">ESGOTADO</div>
            <div class="buy-ticket">BEST DEAL</div>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">UPGRADE<br>GOLD 2</div>
            <div class="bar mt-1"></div>
            <div class="description pt-0 mt-2">
              Valor adicional para mudança de categoria*
            </div>
          </div>
  
          <a href="/upgrade-gold">
            <div class="buy">
              <div class="price">+ R$ 650</div>
              <div class="buy-ticket">SOLICITAR</div>
            </div>
          </a>
        </div>
        
        <div class="col-12 col-sm-12 col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">UPGRADE<br>VIP 1</div>
            <div class="bar mt-1"></div>
            <div class="description pt-0 mt-2">
              Valor adicional para mudança de categoria*
            </div>
          </div>
  
          <a href="/upgrade-vip">
            <div class="buy">
              <div class="price">+ R$ 950</div>
              <div class="buy-ticket">SOLICITAR</div>
            </div>
          </a>
        </div>
      </div>
      
      <div class="row mx-0 pt-3" data-aos="zoom-in-right">
        * Necessário ter comprado o ingresso durante a pré-venda.
      </div>

      <div class="row mx-0 estudante" data-aos="zoom-in-right" data-aos-offset="10" data-aos-easing="ease-in-sine">
        <div class="col-md-3 col-lg-2 p-0 title-box d-flex align-items-center justify-content-center text-center">
          ESTUDANTE
        </div>
  
        <div class="col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">BÁSICO 1</div>
            <div class="bar mt-1"></div>
            <div class="description pt-4 mt-2">
              Welcome kit<br>Platéia <strong>GOLD 1</strong>
            </div>
          </div>
        
          <div class="buy">
            <div class="price -taxa" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso.">
              R$ 800 + TAXA
              <%= fa_icon "question-circle-o" %>
            </div>
            <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" target="_blank">
              <div class="buy-ticket">COMPRAR</div>
            </a>
          </div>
        </div>
  
        <div class="col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">BÁSICO 2</div>
            <div class="bar mt-1"></div>
            <div class="description pt-3 mt-2">
              Welcome kit<br>3 livros autografados<br>Platéia <strong>GOLD 2</strong>
            </div>
          </div>
        
          <div class="buy">
            <div class="price -taxa" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso.">
              R$ 1000 + TAXA
              <%= fa_icon "question-circle-o" %>
            </div>
            <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" target="_blank">
              <div class="buy-ticket">COMPRAR</div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row mx-0 gold" data-aos="zoom-in-right" data-aos-offset="10" data-aos-easing="ease-in-sine">
        <div class="col-md-3 col-lg-2 p-0 title-box d-flex align-items-center justify-content-center text-center">
          GOLD
        </div>
  
        <div class="col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">GOLD 1</div>
            <div class="bar mt-1"></div>
            <div class="description pt-4 mt-2">
              Welcome kit<br>Platéia <strong>GOLD 1</strong>
            </div>
          </div>
        
          <div class="buy">
            <div class="price -taxa" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso.">
              R$ 1100 + TAXA
              <%= fa_icon "question-circle-o" %>
            </div>
            <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" target="_blank">
              <div class="buy-ticket">COMPRAR</div>
            </a>
          </div>
        </div>
  
        <div class="col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">GOLD 2</div>
            <div class="bar mt-1"></div>
            <div class="description pt-3 mt-2">
              Welcome kit<br>3 livros autografados<br>Platéia <strong>GOLD 2</strong>
            </div>
          </div>
        
          <div class="buy">
            <div class="price -taxa" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso.">
              R$ 1300 + TAXA
              <%= fa_icon "question-circle-o" %>
            </div>
            <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" target="_blank">
              <div class="buy-ticket">COMPRAR</div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row mx-0 vip" data-aos="zoom-in-right" data-aos-offset="10" data-aos-easing="ease-in-sine">
        <div class="col-md-3 col-lg-2 p-0 title-box d-flex align-items-center justify-content-center text-center">
          VIP
        </div>                                                                                                                                                                                                      
  
        <div class="col-md-3 col-lg-2 p-0 box -vip">
          <div class="info py-2">
            <div class="category">VIP 1</div>
            <div class="bar mt-1"></div>
            <div class="description pt-3 mt-2">
              Welcome kit<br>Lounge VIP Facilities<br>3 livros autografados<br>Platéia <strong>VIP 1</strong>
            </div>
          </div>
        
          <div class="buy">
            <div class="price -taxa" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso.">
              R$ 1600 + TAXA
              <%= fa_icon "question-circle-o" %>
            </div>
            <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" target="_blank">
              <div class="buy-ticket">COMPRAR</div>
            </a>
          </div>
        </div>
                                                                      
        <div class="col-md-3 col-lg-2 p-0 box -vip">
          <div class="info py-2">
            <div class="category">VIP 2</div>
            <div class="bar mt-1"></div>
            <div class="description pt-1 mt-2">
              Welcome kit<br>Coquetel Pré-Evento<br>Lounge VIP Facilities<br>3 livros autografados<br>Platéia <strong>VIP 2</strong>
            </div>
          </div>
        
          <div class="buy">
            <div class="price -taxa" data-toggle="tooltip" data-placement="top" title="Taxa de serviço da plataforma de e-commerce equivalente a 10% do valor do ingresso.">
              R$ 2400 + TAXA
              <%= fa_icon "question-circle-o" %>
            </div>
            <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" target="_blank">
              <div class="buy-ticket">COMPRAR</div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row mx-0 pre-evento" data-aos="zoom-in-right" data-aos-offset="10" data-aos-easing="ease-in-sine">
        <div class="col-md-3 col-lg-2 p-0 title-box d-flex align-items-center justify-content-center text-center">
          <span class="d-none d-md-block">
            PRÉ<br>EVENTO
          </span>
          <span class="d-md-none">
            PRÉ-EVENTO
          </span>
        </div>                                                                                                                                                                                                      
  
        <div class="col-md-3 col-lg-2 p-0 box -pre-venda">
          <div class="info py-2">
            <div class="category">COQUETEL</div>
            <div class="bar mt-1"></div>
            <div class="description pt-0 mt-2">
              Coquetel Pré-Evento
              <br>
              Dia 13/07
              <br>
              + informações clique abaixo
            </div>
          </div>
        
          <a href="/solicitar-presenca">
            <div class="buy">
              <div class="price">R$ 1000</div>
              <div class="buy-ticket">SOLICITAR</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <%= image_tag "bg-event.svg", class: "bg-tickets d-none d-md-block" %>
  <%= image_tag "bg-work.svg", class: "bg-tickets-mobile d-md-none" %>
</section>