<div id="carouselMobile" class="carousel slide" data-ride="carousel" data-aos="zoom-in">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-12 speaker">
          <%= image_tag "gary.png", class: "photo", data: { speaker: "gary-taubes" } %>
          <div class="name" data-speaker="gary-taubes">gary taubes</div>
          <div class="function" data-speaker="gary-taubes"><%= t('jornalista') %></div>
        
          <div class="mini-cv">
            <%= raw t('palestrantes_internacionais.gary_taubes.descricao.1a_parte') %>
          </div>
        </div>
      </div>
    </div>
    
    <div class="carousel-item">
      <div class="row">
        <div class="col-md-12 speaker">
          <%= image_tag "nina.png", class: "photo", data: { speaker: "nina-teicholz" } %>
          <div class="name" data-speaker="nina-teicholz">nina teicholz</div>
          <div class="function" data-speaker="nina-teicholz"><%= t('jornalista') %></div>
      
          <div class="mini-cv">
            <%= raw t('palestrantes_internacionais.nina_teicholz.descricao.1a_parte') %>
          </div>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row">
        <div class="col-md-12 speaker">
          <%= image_tag "aseem.png", class: "photo", data: { speaker: "aseem-malhotra" } %>
          <div class="name" data-speaker="aseem-malhotra">dr. aseem malhotra</div>
          <div class="function" data-speaker="aseem-malhotra"><%= t('cardiologista') %></div>
  
          <div class="mini-cv">
            <%= raw t('palestrantes_internacionais.aseem_malhotra.descricao.1a_parte') %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carouselMobile" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselMobile" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>