<%= render "layouts/navbar" %>

<div class="about pt-5 mt-3">
  <div class="title">
    <div class="container">
      <h1 data-aos="fade-right">
        <%= t('sobre.titulo') %>
      </h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-7" data-aos="zoom-in">
          <%= raw t('sobre.1a_parte') %>

          <div class="about-detail-1">
            <%= image_tag "event-detail-1.svg" %>
          </div>
          
          <div class="d-none d-md-block">
            <br>
          </div>

           <%= raw t('sobre.2a_parte') %>

          <div class="about-detail-2">
            <%= image_tag "event-detail-2.svg" %>
          </div>
          
          <div class="d-none d-md-block">
            <br>
          </div>

          <%= raw t('sobre.3a_parte') %>
        </div>  
      </div>
    </div>

    <%= image_tag "bg-about.svg", class: "bg-about d-none d-md-block" %>
    <%= image_tag "bg-about-mobile.svg", class: "bg-about-mobile d-sm-block d-md-none" %>
  </div>

  <div class="team">
    <div class="title">
      <div class="container">
        <h1 data-aos="zoom-in">
          <%= raw t('trabalhe_conosco.titulo') %>
        </h1>
      </div>
    </div>
  
    <!-- <div class="body">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-3 colaborator">
            <div class="photo"></div>
  
            <div class="name">MARIA MADALENA</div>
          </div>
          <div class="col-md-3 colaborator">
            <div class="photo"></div>
  
            <div class="name">MARIO MARTINS</div>
          </div>
          <div class="col-md-3 colaborator">
            <div class="photo"></div>
  
            <div class="name">MATEUS MEIRELES</div>
          </div>
          <div class="col-md-3 colaborator">
            <div class="photo"></div>
  
            <div class="name">MILENA MATOS</div>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  </div>
  
  <div class="work">
    <div class="container">
      <!-- <div class="title">
        <h1>TRABALHE CONOSCO</h1>
      </div> -->

      <div class="row mb-5 pb-2">
        <div class="col-md-12 col-lg-5" data-aos="zoom-in-right">
          <%= raw t('trabalhe_conosco.texto') %>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-md-12 col-lg-6" data-aos="zoom-in-left">
          <form action="https://formspree.io/whcriacao@gmail.com" method="POST">
            <div class="form-group">
              <label for="name"><%= t('trabalhe_conosco.formulario.nome') %></label>
              <input type="text" name="name" class="form-control">
            </div>

            <div class="form-group">
              <label for="name"><%= t('trabalhe_conosco.formulario.email') %></label>
              <input type="text" name="email" class="form-control">
            </div>

            <div class="form-group">
              <label for="name"><%= t('trabalhe_conosco.formulario.mensagem') %></label>
              <textarea name="message" class="form-control" rows="4"></textarea>
            </div>

            <input type="submit" value="<%= t('trabalhe_conosco.formulario.enviar') %>">  
          </form>
        </div>
      </div>

      <a href="/" class="button-outline"><%= t('voltar_para_o_inicio') %></a>

      <%= image_tag "bg-work.svg", class: "bg-work" %>
    </div>
  </div>
</div>
