<%= render "layouts/navbar" %>

<div class="faq pt-5 mt-3">
  <div class="title">
    <div class="container">
      <h1 data-aos="fade-right">
        <%= t('faq.titulo') %>
      </h1>
    </div>
  </div>

  <div class="content">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="1">
            <strong><%= t('faq.pergunta1') %></strong>
        
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>

          <div class="answer d-none" data-answer="1">
            <%= t('faq.resposta1') %>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="2">
            <strong><%= t('faq.pergunta2') %></strong>
  
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
          
          <div class="answer d-none" data-answer="2">
            <%= t('faq.resposta2') %>
          </div>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="3">
            <strong><%= t('faq.pergunta3') %></strong>
  
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
          
          <div class="answer d-none" data-answer="3">
            <%= t('faq.resposta3') %>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="4">
            <strong><%= t('faq.pergunta4') %></strong>
  
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
          
          <div class="answer d-none" data-answer="4">
            <%= t('faq.resposta4') %>
          </div>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="5">
            <strong><%= t('faq.pergunta5') %></strong>

            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>

          <div class="answer d-none" data-answer="5">
            <%= t('faq.resposta5') %>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="6">
            <strong><%= t('faq.pergunta6') %></strong>

            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>

          <div class="answer d-none" data-answer="6">
            <%= t('faq.resposta6') %>
          </div>
        </div>
      </div>

      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="7">
            <strong><%= t('faq.pergunta7') %></strong>
        
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
        
          <div class="answer d-none" data-answer="7">
            <%= t('faq.resposta7') %>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="8">
            <strong><%= t('faq.pergunta8') %></strong>

            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>

          <div class="answer d-none" data-answer="8">
            <%= t('faq.resposta8') %>
          </div>
        </div>
      </div>
    
      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="9">
            <strong><%= t('faq.pergunta9') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="9">
            <%= t('faq.resposta9') %>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="10">
            <strong><%= t('faq.pergunta10') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="10">
            <%= t('faq.resposta10') %>
          </div>
        </div>
      </div>
      
      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="11">
            <strong><%= t('faq.pergunta11') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="11">
            <%= t('faq.resposta11') %>
          </div>
        </div>
        
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="12">
            <strong><%= t('faq.pergunta12') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="12">
            <%= t('faq.resposta12') %>
          </div>
        </div>
      </div>
      
      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="13">
            <strong><%= t('faq.pergunta13') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="13">
            <%= t('faq.resposta13') %>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-par">
          <div class="question" data-question="14">
            <strong><%= t('faq.pergunta14') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="14">
            <%= t('faq.resposta14') %>
          </div>
        </div>
      </div>
      
      <div class="row pt-4">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
          <div class="question" data-question="15">
            <strong><%= t('faq.pergunta15') %></strong>
    
            <div class="arrow">
              <%= fa_icon 'angle-down' %>
            </div>
          </div>
    
          <div class="answer d-none" data-answer="15">
            <%= t('faq.resposta15') %>
          </div>
        </div>
      </div>

      <div class="pt-5"></div>
      <a href="/" class="button-outline"><%= t('voltar_para_o_inicio') %></a>
    </div>

    <!-- <%= image_tag "bg-faq.svg", class: "bg-faq" %> -->
  </div>
</div>
