<%= render "layouts/navbar" %>

<%= render 'section_home' %>

<%= render 'section_event' %>

<%= render 'section_mandatory' %>

<%= render 'section_speakers' %>

<%= render 'section_featured' %>

<%= render 'section_national_speakers' %>

<%= render 'section_schedule' %>

<%= render 'section_tickets' %>

<%= render 'section_seat_map' %>

<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 when" data-aos="zoom-in-right">
        <div class="title">
          <strong><%= t('localizacao.quando') %></strong>
        </div>

        <div class="date">
          <%= t('localizacao.data') %>
        </div>

        <div class="hour">
          <%= t('localizacao.hora') %>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-8 where" data-aos="zoom-in-left">
        <div class="title">
          <strong><%= t('localizacao.onde') %></strong>
        </div>

        <div class="center-norte">
          <%= raw t('localizacao.center_norte') %>
        </div>

        <div class="address">
          <%= t('localizacao.endereco') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="official-hotel pt-4" data-aos="zoom-in-right">
          <div class="title">
            <%= t('localizacao.hotel.titulo') %>
          </div>

          <%= link_to "http://www.sheratonsaopaulowtc.com.br/", target: "_blank" do %>
            <%= image_tag 'logo-sheraton-bg.png', style: 'border-radius: 10px', width: '100%', class: 'mt-2' %>
          <% end %>
          
          <div class="pt-4">
            <%= raw t('localizacao.hotel.descricao') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="map-location">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83848.21488162699!2d-46.73886986257229!3d-23.60647959733798!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50c39b566d85%3A0xdef17ec1a62a235d!2sSheraton+S%C3%A3o+Paulo+WTC+Hotel!5e0!3m2!1spt-BR!2sbr!4v1530120818352"
    width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<section class="producer-and-developer">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div class="col-md-6 col-lg-4">
        <%= t('producao') %>:
        <br>
        <a href="#" target="_blank">
          <%= image_tag "caroline.png", height: '45px', class: 'mt-3' %>
        </a>
      </div>

      <div class="col-md-6 col-lg-8 developer">
        <%= t('desenvolvimento') %>:
        <br>
        <a href="http://typo.digital" target="_blank">
          <%= image_tag "typo.png", height: '50px', class: 'mt-2' %>
        </a>
      </div>
    </div>
  </div>
</section>

<%= render 'modals' %>

<div class="modal modal-changes" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          COMUNICADO: o local do evento mudou.
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="mr-5 ml-5 mt-3 pb-3">
          O 1º Congresso Internacional Low Carb teve que ter sua localização alterada. Infelizmente, essa mudança tão próxima do dia do evento foi necessária, pois só assim conseguiríamos realizá-lo dentro das expectativas de qualidade que todos esperam e merecem. Sentimos muito por isso, mas não havia outra opção. O novo local é o Sheraton São Paulo WTC Hotel (Av. das Nações Unidas, 12559 - Brooklin Novo, São Paulo – SP).
          <br><br>
          Caso já tenha feito a reserva em algum hotel próximo ao local antigo, sugerimos que tente alterar para outro hotel mais próximo do novo endereço. Também nos colocamos à disposição para lhe auxiliar no que for preciso para tornar sua experiência extremamente positiva e única.
          <br><br>
          Caso queira mais esclarecimentos, envie um e-mail para <a href="mailto:contato@eventoalimente.com.br">contato@eventoalimente.com.br</a> para que possamos encontrar a melhor solução para seu caso. 
          <br><br>
          Contamos humildemente com a sua compreensão e colaboração!
          <br><br>
          Observação: Caso seu hotel não permita cancelar a reserva de hospedagem, anexe o comunicado do estabelecimento com a negativa deles em seu e-mail.
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.modal-changes').modal('show');

    $(document).scroll(function () {
      if ($(document).scrollTop() > 65) {
        $('.navbar').removeClass('d-none');
        $('.navbar-home').addClass('d-none');
      }

      else {
        $('.navbar').addClass('d-none');
        $('.navbar-home').removeClass('d-none');
      }
    });
  });
</script>
