<section class="home">
  <%= image_tag "logo-8.svg", class: "logo" %>

  <div class="title">
    1º congresso
    <br>
    internacional low carb
  </div>

  <div class="time">
    <div class="less">faltam</div> 

    <div class="date">
      <div class="month">
        <div class="number"><%= "%02d" % @months %></div>
        <div class="title">meses</div>
      </div>

      <div class="day">
        <div class="number"><%= "%02d" % @days %></div>
        <div class="title">dias</div>
      </div>

      <div class="hour">
        <div class="number"><%= "%02d" % @hours %></div>
        <div class="title">horas</div>
      </div>
    </div>
  </div>

  <div class="bar"></div>

  <div class="lot">
    <span class="title">
      pré-venda
    </span>

    <span class="bullet">&bullet;</span>

    <span class="price">
      R$ 650,00
    </span>
  </div>

  <a href="#" class="button-outline">
    comprar ingresso
  </a>

  <div class="skyline-wrapper">
    <%= image_tag "skyline.png", class: "skyline" %>
  </div>
</section>

<section class="event">
  <div class="title">
    <h1>
      o evento 
      <span>&bullet;</span>
      edição são paulo
    </h1>
  </div>

  <div class="container content">
    <div class="row">
      <div class="col-md-8 col-lg-7">
        Os dias 14 e 15 de julho ficarão eternizados na memória não só de quem estiver presente no evento, mas também nas antigas
        e futuras gerações que sempre buscaram e continuam atrás de um modo de vida cada vez mais consciente.
        
        <br><br>Inédito no país, o 1º Congresso Internacional Low Carb, vai reunir em dois dias de intensos ciclos de palestras, painéis e muito networking,
        três grandes nomes que agitam o cenário internacional quando o assunto é qualidade de vida: o jornalista investigativo e
        autor do famoso <em>Por Que Engordamos E O Que Fazer Para Evitar?</em>, <strong>Gary Taubes</strong>; a jornalista best seller pelo <em>Gordura Sem Medo</em>,
        <strong>Nina Teicholz</strong>; e o premiado cardiologista, <strong>Dr. Aseem Malhotra</strong>.
        
        <div class="event-detail-1">
          <%= image_tag "event-detail-1.svg" %>
        </div>
        
        <div class="d-none d-md-block">
          <br>
        </div>

        Juntam-se a eles os mais renomados profissionais da área de saúde brasileira, como o urologista <strong>Dr. José Carlos Souto</strong>; o clínico <strong>Dr. Erik Neves</strong>;
        o nefrologista <strong>Dr. José Neto</strong>; o endocrinologista <strong>Dr. Rodrigo Bomeny</strong>; a nutricionista <strong>Dra. Paty Ayres</strong>; a pediatra <strong>Dra. Teresinha Stumpf Souto</strong>;
        o ortopedista <strong>Dr. Marcelo Denaro</strong>; a nutricionista <strong>Dra. Djulye Marquato</strong> e o mestre em ciência do esporte <strong>Rafael Lund</strong>, para juntos traçar um panorama do que
        anda acontecendo mundo afora e as últimas descobertas na medicina baseada em evidências.
        
        <div class="event-detail-2">
          <%= image_tag "event-detail-2.svg" %>
        </div>
        
        <div class="d-none d-md-block">
          <br>
        </div>

        Com a comodidade da tradução simultânea para melhor acompanhamento das apresentações, da quebra de mitos sobre alimentos vilanizados e o consumo desvairado de produtos
        cada vez mais industrializados e processados, responsáveis pelos altos índices de obesidade, diabetes, doenças cardíacas,
        câncer, entre tantas outras, serão abordados também os processos que desencadeiam a síndrome metabólica, a resistência à
        insulina, a alimentação cetogênica para tratamento de doenças autoimunes e muito mais. Tudo levado a público por meio de
        conceituados estudos randomizados, chancelados pelas maiores autoridades científicas da atualidade que vêm numa frente unida
        reescrevendo a história da Nutrição.
        
        <div class="event-detail-3">
          <%= image_tag "event-detail-3.svg" %>
        </div>
        
        <div class="d-none d-md-block">
          <br>
        </div>

        Então, anote na sua agenda! Em breve a programação completa estará disponível aqui e
        será anunciada em nossas redes sociais, bem como a lista final de palestrantes nacionais, que conta ainda com diversos convidados
        de peso.
      </div>
    </div>
  </div>

  <%= image_tag "bg-event.svg", class: "bg-event" %>
  <%= image_tag "bg-event-tablet.svg", class: "bg-event-tablet" %>
</section>

<section class="speakers">
  <div class="title">
    <h1>
      palestrantes
    </h1>
  </div>

  <div class="content">
    <div class="container">
      <div class="row speakers-desktop d-none d-md-none d-lg-block">
        <%= render 'speakers_desktop' %>
      </div>

      <div class="speakers-tablet d-none d-md-block d-lg-none">
        <%= render 'speakers_tablet' %>
      </div>

      <div class="speakers-mobile d-block d-md-none">
        <%= render 'speakers_mobile' %>
      </div>
    </div>
  </div>
</section>

<!-- <section class="schedule">
  <div class="container pl-4">
    <div class="title">
      <h1>programação</h1>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="title">14 de julho</div>
      </div>
    </div>
  </div>
</section> -->

<section class="location">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <div class="info">
          <div class="row">
            <div class="col-md-6 col-lg-5 when">
              <div class="title">
                quando?
              </div>
  
              <div class="days">
                14 e 15
              </div>
  
              <div class="month">
                de julho
              </div>
  
              <div class="hour">
                das 8h as 18h
              </div>
            </div>
  
            <div class="col-md-6 col-lg-5 where">
              <div class="title">
                onde será?
              </div>
  
              <div class="parque-do">
                local a
              </div>
  
              <div class="desconhecido">
                definir
              </div>
  
              <div class="sao-paulo">
                São Paulo - SP
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="map d-none d-lg-block">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467692.0488706554!2d-46.87549774535903!3d-23.68153144861528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e0!3m2!1spt-BR!2sbr!4v1520800013833"
      width="550" height="373px" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</section>

<div class="map-mobile d-sm-block d-lg-none">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467692.0488706554!2d-46.87549774535903!3d-23.68153144861528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2zU8OjbyBQYXVsbywgU1A!5e0!3m2!1spt-BR!2sbr!4v1520800013833"
    width="100%" height="375" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- <section class="official-agency">
  <div class="title">
    <h1>agência oficial</h1>
  </div>

  <div class="sub-title">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    <br>
    Ut consectetur justo at lobortis aliquet. In et tincidunt massa, a congue neque.
  </div>

  <h1 class="name">agência tal</h1>
</section> -->

<!-- <section class="sponsors">
  <div class="container">
    <div class="title">
      <h1>patrocínio</h1>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-3 sponsor">PATROCINADOR</div>
      <div class="col-sm-12 col-md-3 sponsor">PATROCINADOR</div>
      <div class="col-sm-12 col-md-3 sponsor">PATROCINADOR</div>
      <div class="col-sm-12 col-md-3 sponsor">PATROCINADOR</div>
    </div>
  </div>

  <%= image_tag "bg-work.svg", class: "sponsor-detail" %>
</section> -->