<%= render "layouts/navbar" %>

<div class="refund pt-5 mt-3">
  <div class="title">
    <div class="container">
      <h1 data-aos="fade-right">
        <%= t('pre_evento.titulo') %>
      </h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-6">
          <%= raw t('pre_evento.texto') %>

          <form action="https://formspree.io/whcriacao@gmail.com" method="POST">
            <div class="form-group">
              <label for="name"><%= t('pre_evento.formulario.nome') %></label>
              <input type="text" name="name" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="email"><%= t('pre_evento.formulario.email') %></label>
              <input type="email" name="email" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="address"><%= t('pre_evento.formulario.endereco') %></label>
              <input type="text" name="address" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="job"><%= t('pre_evento.formulario.profissao') %></label>
              <input type="text" name="job" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="cpf"><%= t('pre_evento.formulario.cpf') %></label>
              <input type="text" name="cpf" class="form-control" required>
            </div>
          
            <div class="form-group">
              <label for="rg"><%= t('pre_evento.formulario.rg') %></label>
              <input type="text" name="rg" class="form-control" required>
            </div>
          
            <input type="submit" value="<%= t('pre_evento.formulario.enviar') %>">
          </form>
        </div>
      </div>
      <div class="pt-5"></div>
      <a href="/" class="button-outline"><%= t('voltar_para_o_inicio') %></a>
    </div>

    <%= image_tag "bg-event.svg", class: "bg-refund d-none d-lg-block" %>
    <%= image_tag "bg-refund.svg", class: "bg-refund d-block d-lg-none" %>
  </div>
</div>