<%= render "layouts/navbar" %>

<div class="refund pt-5 mt-3">
  <div class="title">
    <div class="container">
      <h1 data-aos="fade-right"><%= t('reembolso.titulo') %></h1>
    </div>
  </div>

  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-9 col-lg-7" data-aos="zoom-in">
          <%= raw t('reembolso.texto') %>
        </div>
      </div>
      <div class="pt-5"></div>
      <a href="/" class="button-outline"><%= t('voltar_para_o_inicio') %></a>
    </div>

    <%= image_tag "bg-refund.svg", class: "bg-refund" %>
  </div>
</div>