<footer>
  <!-- <section class="ticket">
    <div class="lot">
      <span class="title">
        pré-venda
      </span>
  
      <span class="bullet">&bullet;</span>
  
      <span class="price">
        R$ 650,00
      </span>
    </div>
  
    <a href="https://www.sympla.com.br/1-congresso-internacional-low-carb__258690" class="button-outline" target="_blank">
      comprar ingresso
    </a>
  </section> -->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-4 event">
        <div class="title">
          <%= t('footer.evento') %>
        </div>

        <ul class="list">
          <li class="list-item">
            <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
              <a href="/?lang=pt-BR">Edição São Paulo</a>
            <% elsif params[:lang] == "en" %>
              <a href="/?lang=en">São Paulo Edition</a>
            <% end %>
          </li>
          
          <li class="list-item">
            <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
              <a href="/perguntas-frequentes?lang=pt-BR">Perguntas Frequentes</a>
            <% elsif params[:lang] == "en" %>
              <a href="/perguntas-frequentes?lang=en">F.A.Q.</a>
            <% end %>
          </li>

          <li class="list-item">
            <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
              <a href="/reembolso-e-transferencias?lang=pt-BR">Reembolso e Transferências</a>
            <% elsif params[:lang] == "en" %>
              <a href="/reembolso-e-transferencias?lang=en">Ticket Refund and Transfers</a>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-4 alimente">
        <div class="title">
          <%= t('footer.alimente') %>
        </div>

        <ul class="list">
          <li class="list-item">
            <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
              <a href="/sobre?lang=pt-BR">Sobre o Projeto</a>
            <% elsif params[:lang] == "en" %>
              <a href="/sobre?lang=en">About the Project</a>
            <% end %>
          </li>

          <li class="list-item">
            <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
              <a href="/sobre?lang=pt-BR">Nossa Equipe</a>
            <% elsif params[:lang] == "en" %>
              <a href="/sobre?lang=en">Our Team</a>
            <% end %>
          </li>

          <li class="list-item">
            <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
              <a href="/sobre?lang=pt-BR">Trabalhe Conosco</a>
            <% elsif params[:lang] == "en" %>
              <a href="/sobre?lang=en">Work With Us</a>
            <% end %>
          </li>
        </ul>
      </div>

      <div class="col-12 col-sm-12 col-md-4 copyright">
        <div class="title">
          <%= t('footer.pagamento') %>
        </div>

        <div class="payment">
          <% if params[:lang] == "pt-BR" or params[:lang].nil? %>
            Cartões de crédito, débito e boleto.
          <% elsif params[:lang] == "en" %>
            Credit and debit cards and bank slip.
          <% end %>
        </div>

        <div class="social-media pt-3">
          <%= fa_icon "facebook" %>
          <span>&nbsp;</span>
          <%= link_to "facebook.com/eventoalimente", "https://facebook.com/eventoalimente/" %>
          <br>
          <%= fa_icon "instagram" %>
          <span>&nbsp;</span>
          <%= link_to "instagram.com/eventoalimente", "https://instagram.com/eventoalimente/" %>
        </div>
      </div>
    </div>
  </div>
</footer>