<nav class="navbar navbar-expand-lg navbar-dark fixed-top <%= 'd-none' if action_name == 'landing'%>">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo-horizontal.png", height: "35px" %>
    </a>
    
    <div class="d-none d-lg-block mr-auto pl-2">
      <ul class="navbar-nav">
        <li class="nav-item <%= 'active' if action_name == 'about' %>">
          <a class="nav-link" href="/sobre">Sobre
          </a>
        </li>
  
        <li class="nav-item <%= 'active' if action_name == 'faq' %>">
          <a class="nav-link" href="/perguntas-frequentes">Perguntas Frequentes
          </a>
        </li>
      </ul>
    </div>

    <div class="d-none d-lg-block navbar-wrapper">
      <a href="/#tickets" class="button-outline mr-4">ingressos</a>
    </div>

    <%= image_tag "brazil.svg", height: "50px", class: "flag" %>

    <div class="d-none">
      <%= fa_icon "bars", class: "fa-2x menu" %>
    </div>
  </div>
</nav>