<nav class="navbar navbar-expand-lg navbar-dark fixed-top <%= 'd-none' if action_name == 'landing'%>">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo-horizontal.svg", height: "35px" %>
    </a>
    
    <ul class="navbar-nav mr-auto d-none d-md-block pl-2">
      <li class="nav-item <%= 'active' if action_name == 'about' %>">
        <a class="nav-link" href="/sobre">Sobre
        </a>
      </li>
    </ul>

    <div class="d-none d-md-block navbar-wrapper">
      <div class="time mr-4 d-none d-lg-inline">
        FALTAM <%= "%02d" % @months %> M <%= "%02d" % @days %> D <%= "%02d" % @hours %> H
      </div>
      
      <a href="#" class="button-outline mr-4">comprar ingresso</a>
    </div>

    <%= image_tag "brazil.svg", height: "50px", class: "flag" %>

    <div class="d-none">
      <%= fa_icon "bars", class: "fa-2x menu" %>
    </div>
  </div>
</nav>