<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <%= image_tag "logo-horizontal.svg", height: "35px" %>
    </a>
    
    <ul class="navbar-nav mr-auto d-none d-md-block">
      <li class="nav-item active">
        <a class="nav-link" href="#">Sobre
        </a>
      </li>
    </ul>

    <div class="d-none d-md-block navbar-wrapper">
      <div class="time mr-4 d-inline">
        FALTAM <%= "%02d" % @months %> M <%= "%02d" % @days %> D <%= "%02d" % @hours %> H
      </div>
      
      <a href="#" class="button-outline mr-4">comprar ingresso</a>
    </div>

    <%= image_tag "brazil.svg", height: "50px", class: "flag" %>

    <div class="d-none">
      <%= fa_icon "bars", class: "fa-2x menu" %>
    </div>
  </div>
</nav>